* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.good{
  display: flex;
  gap: 0.5rem;
}

.note{
  background-color: #383838;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
  min-width: 20rem;
}

.note button{
  margin-top: 1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #da4040;
  color: rgb(17, 5, 5);
  cursor: pointer;
  font-size: 1rem;
}

.note-create-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: #222;
  border-radius: 0.7rem;
  margin: 1rem;
}

.note-create-form input{
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.note-create-form button{
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #949eb3;
  color: rgb(17, 5, 5);
  cursor: pointer;
  font-size: 1.2rem;
}